<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel='stylesheet' href='{% static "clip/bootstrap/css/bootstrap.min.css" %}'>
        <link rel='stylesheet' href='{% static "clip/font-awesome/css/font-awesome.min.css" %}'>
        <link rel='stylesheet' href='{% static "clip/css/main.css" %}'>
        <script type='text/javascript' src='{% static "clip/js/jquery-1.11.0.min.js" %}' ></script>
        <script type='text/javascript' src='{% static "clip/bootstrap/js/bootstrap.min.js" %}' ></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header class='base-nav navbar' role='navigation'>
        <div class='container'>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle' data-toggle='collapse'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' href='{% url 'clip:index' %}'>首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <nav class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
                <ul class='nav navbar-nav'>
                    <li><a href='{% url 'clip:index' %}'>开始计算</a></li>
                    <li><a href='#'>历史记录</a></li>
                </ul>
            </nav><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </header>
        <div id='container' class='container'>
            {% block content %}
            {% endblock %}
        </div>
        {% block script %}
        {% endblock %}
    </body>
</html>
