{% extends "clip/base.html" %}
{% load staticfiles %}

{% block title %}历史记录{% endblock %}

{% block content %}
<div class='panel panel-primary'>
    <div class='panel-heading clip-heading'>
        <span>历史记录</span>
    </div>
    <table class='table table-striped table-hover table-bordered clip-table'>
        <thead>
            <tr>
                <th width='80'>时间</th>
                <th>内容</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>
                    <a href='{% url 'clip:record' record.id %}'>
                        {{ record.create_time|date:"Y 年"  }}<br/>
                        {{ record.create_time|date:"m月d日"  }}<br/>
                        {{ record.create_time|date:"H : i"  }}<br/>
                    </a>
                    <br/>
                    (材料:{{ record.material.name }})
                </td>
                <td>
                    {% include "clip/component/window.html" with record_windows=record.recordwindow_set.all %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
