{% extends 'clip/base.html' %}
{% load staticfiles %}

{% block title %}首页{% endblock %}

{% block content %}
<form class='form-inline' action='{% url 'clip:submit' %}' role='form' method='post'>{% csrf_token %}
    <fieldset>
        <div class='panel panel-primary'>
            <div class='panel-heading clip-heading'>
                <span>进行选择</span>
                <button id='add' class='btn btn-success pull-right' data-toggle='modal' data-target='#modal-windows'>添加</button>
            </div>
            <!-- Table -->
            <table class='table table-striped table-hover clip-table' id='index-table'>
                <thead>
                    <tr>
                        <th style='width:12%' class='center'>样式</th>
                        <th style='width:15%'>数量</th>
                        <th style='width:68%'>尺寸</th>
                        <th style='width:5%' class='center'>操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan=4 class='text-right info'>
                            <h4>
                                <div class='pull-left index-material'>
                                    <strong class='pull-left'>材料:&nbsp;&nbsp;</strong>
                                    <select class='pull-left' name='material_id' required>
                                        <option value=''>---</option>
                                        {% for material in materials %}
                                        <option value='{{ material.id }}'>{{ material.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class='pull-right'>总计：<span id='clip-total-num'>0</span> 件 </div>
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=4 class='text-center'>
                            <button id='submit' type='submit' class='btn btn-primary btn-lg '>提交</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </fieldset>
</form>
<!-- Modal -->
<div class='modal fade' id='modal-windows' tabindex='-1' role='dialog' aria-labelledby='modal_windows_title' aria-hidden='true'>
    <div class='modal-dialog modal-windows'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
                <h4 class='modal-title' id='modal_windows_title'>添加样式</h4>
            </div>
            <div class='modal-body'>
                {% for window in windows %}
                <a href='#'
                    data-id='{{ window.id }}'
                    data-need_m='{% if window.need_m %}1{% else %}0{% endif %}'
                    data-need_z='{% if window.need_z %}1{% else %}0{% endif %}'><img width='100px' height='auto' src='{% static 'clip/images/' %}{{ window.id }}.png'/></a>
                {% if forloop.counter|divisibleby:'3' %} <br/> {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class='modal fade' id='modal-remove' tabindex='-1' role='dialog' aria-labelledby='modal-remove-title' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title' id='modal-remove-title'>确认删除吗？</h4>
      </div>
      <div class='modal-footer' style="border:0;">
        <button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>
        <button id='btn-remove' type='button' class='btn btn-primary'>确认</button>
      </div>
    </div>
  </div>
</div>
<table class='hidden'>
    <tr id='template'>
        <td class='center'>
            <img width='100px' height='auto' src='/static/clip/images/1.png'>
        </td>
        <td class='middle'>
            <div class='form-group'>
                <div class='input-group'>
                    <span class='input-group-btn'>
                        <button tabindex='-1' class='btn btn-success clip-num-btn' type='button'>数量</button>
                    </span>
                    <input type='number' min='0' class='form-control clip-num' name='num[]' required=''>
                </div>
            </div>
        </td>
        <td class='middle'>
            <div class='template-id'>
                <input type='hidden' name='id[]' value='@' />
            </div>
            <div class='form-group col-xs-3 template-x'>
                <div class='input-group'>
                    <span class='input-group-addon'>x</span>
                    <input type='number' min='0' step='0.01' class='form-control' name='x[]' required=''>
                </div>
            </div>
            <div class='form-group col-xs-3 template-y'>
                <div class='input-group'>
                    <span class='input-group-addon'>y</span>
                    <input type='number' min='0' step='0.01' class='form-control' name='y[]' required=''>
                </div>
            </div>
            <div class='form-group col-xs-3 template-m'>
                <div class='input-group'>
                    <span class='input-group-addon'>m</span>
                    <input type='number' min='0' step='0.01' class='form-control' name='m[]' required=''>
                </div>
            </div>
            <div class='form-group col-xs-3 template-z'>
                <div class='input-group'>
                    <span class='input-group-addon'>z</span>
                    <input type='number' min='0' step='0.01' class='form-control' name='z[]' required=''>
                </div>
            </div>
        </td>
        <td class='middle'>
            <button tabindex='-1' type='button' class='btn btn-danger template-remove' data-toggle="modal" data-target="#modal-remove">删除</button>
        </td>
    </tr>
</table>
{% endblock %}

{% block script %}
<script>
    $(function(){
        var $modal = $('#modal-windows');
        $('#add').click(function(e){
            e.preventDefault();
        });
        $modal.find('a').click(function(e){
            e.preventDefault();
            var window_id = $(this).data('id');
            var need_m = !!$(this).data('need_m');
            var need_z = !!$(this).data('need_z');
            var $template = $('#template').clone().removeAttr('id');
            $template.find('img').attr('src', '{% static 'clip/images/' %}' + window_id + '.png');
            $template.find('.template-id').find('input').val(window_id);
            $template.find('.template-remove').click(function(){
                $('#modal-remove').data('object', $(this));
            });
            if ( !need_m ) {
                $template.find('.template-m').hide().find('input').val(0);
            }
            if ( !need_z ) {
                $template.find('.template-z').hide().find('input').val(0);
            }
            $template.appendTo('#index-table tbody');
            $modal.modal('hide');
        });
        $(document).on('focusout',' .clip-num', function(e){
            var $target = $(e.target);
            var value = parseInt($target.val());
            if (isNaN(value)){
                $target.focus();
                $target.parents('.form-group').addClass('has-error');
                return;
            }
            $target.parents('.form-group').removeClass('has-error');
            var total_num = 0;
            $('#index-table').find('.clip-num').not(':disabled').each(function(){
                total_num += parseInt($(this).val());
            });
            $('#clip-total-num').html(total_num);
        });
        $('#submit').click(function(){
            var num_count = $('.clip-num').not(':disabled').size();
            if (num_count == 0)
            {
                alert('你还没有进行选择！');
                return false;
            }
        });
        $('#btn-remove').click(function(){
            var $object = $('#modal-remove').data('object');
            if(!$object){
                return false;
            }
            $object.parents('tr').remove();
            $('#modal-remove').modal('hide');
        });
    });
</script>
{% endblock %}
