{% extends "clip/base.html" %}
{% load staticfiles %}

{% block title %}计算结果{% endblock %}

{% block content %}
<div class='panel panel-primary'>
    <div class='panel-heading clip-heading'>
        <span>计算结果</span>
        <button class='btn btn-success pull-right hidden-print' onclick='javascript:window.print();'>打印</button>
        <span class='pull-right'>材料: <u>{{ record.material.name }}</u></span>
    </div>
    <div class='panel-body clip-body'>
        {% include "clip/component/window.html" with record_windows=record_windows %}
    </div>
    <table class='table table-striped table-hover table-bordered clip-table'>
        <thead>
            <tr>
                <th width='15%'>#&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>尺寸/数量</th>
            </tr>
        </thead>
        <tbody>
            {% for order , value1 in results.items %}
            {% for name , value in value1.items %}
            <tr>
                <td><strong>{{ name }}</strong></td>
                <td>
                    {% for l, num in value.items %}
                    <strong>{{ l }}</strong>=<strong style='margin-right:15px;'>{{ num }}</strong>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
        {% if is_show_foot %}
        <tfoot class='hidden-print'>
            <tr>
                <td colspan='2'>
                    <a href='{% url 'clip:history' %}' class='btn btn-info pull-left'>返回</a>
                </td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
</div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
