{% extends "clip/base.html" %}

{% block title %}计算结果{% endblock %}

{% block content %}
<div class='panel panel-primary'>
    <div class='panel-heading'>计算结果
        <button class='btn btn-success pull-right' style='margin-top:-7px;' onclick='javascript:window.print();'>打印</button>
    </div>
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th width='30%' style='vertical-align:middle;text-align:center;'>#</th>
                <th>尺寸</th>
                <th>数量</th>
            </tr>
        </thead>
        {% for order , value1 in results.items %}
        {% for name , value in value1.items %}
        {% for l, num in value.items %}
        <tr>
            {% if forloop.first %}
            <td style='vertical-align:middle;text-align:center;' rowspan='{{ value | length }}'><strong>{{ name }}</strong></td>
            {% endif %}
            <td>{{ l }}</td>
            <td>{{ num }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
