.panel-heading{padding:8px 15px;}

.base-nav{border-bottom-color:#6f5499;min-height:40px;margin-bottom:10px;}
.base-nav .navbar-brand,
.base-nav .navbar-nav>li>a{color:#563d7c;font-weight:500;padding:10px;height:40px;}
.base-nav .container .navbar-brand{margin-left:-10px;}
.base-nav .navbar-nav>li>a:hover,
.base-nav .navbar-nav>.active>a,
.base-nav .navbar-nav>.active>a:hover{color:#463265;background-color:#f9f9f9;}
.base-nav .navbar-toggle .icon-bar{background-color:#563d7c;}
.base-nav .navbar-header .navbar-toggle{border-color:#fff;}
.base-nav .navbar-header .navbar-toggle:hover,
.base-nav .navbar-header .navbar-toggle:focus{background-color:#f9f9f9;border-color:#f9f9f9;}

.index-table>thead>tr>th.middle,
.index-table>tbody>tr>th.middle,
.index-table>tfoot>tr>th.middle,
.index-table>thead>tr>td.middle,
.index-table>tbody>tr>td.middle,
.index-table>tfoot>tr>td.middle{vertical-align:middle;}
.index-table>thead>tr>th.center,
.index-table>tbody>tr>th.center,
.index-table>tfoot>tr>th.center,
.index-table>thead>tr>td.center,
.index-table>tbody>tr>td.center,
.index-table>tfoot>tr>td.center{text-align:center;}

.index-material{margin-left:50px;}

.record-window-container{padding:0 5px;}
.record-window{margin:5px 12px 0 0;}
.record-window p{margin-left:90px;margin-bottom:0px;}
.record-window-num{margin-left:36px;}

.record-window-title{text-align:left;}
.record-window-title button{margin-top:-7px;}
